.main-col {
background-color: #eee;
}

.container, body {
/*background-color: #666;*/
}

html, body, main-col .container {
	min-height: 100%;
	height: 100%;
	background-color: #eee;
}

.error, .success {
	text-align: center;
	margin: 3px 0;
}

div.error {
	border: 2px solid #966;
	background: #daa;
}
div.success {
	border: 2px solid #696;
	background: #ada;
}

img.profile-img {
	width: 60%;
	position: relative; 
	margin: 10px 20%;
}