@()(implicit flash: Flash)

@main("Adoptr :: About") {
  <div class="jumbotron">
    <div>
      <h3> What </h3>
      <p> Adoptr is built to aggregate animal data from shelters around the UK. Inspired by Battersea, we aim to provide the user 
      a quicker, clearer way to see which animals are available for adoption at any one time, while adding accessible links for 
      donations to come in to the shelters themselves.</p> 
      <a href="@routes.Application.index">Check it out</a>
      <h3> How </h3>
      <p>PayPal, Scala, Play, Heroku, Python, Bootstrap, jQuery, Amazon Webservice S3</p>
      <h3> Attribution </h3>
      <p>Thanks to the following for making their stuff available for free:</p>
      <p>Icons:<br/> 
      <a href="https://www.iconfinder.com/iconka" target="_new">Denis Sazhin</a> / 
      <a href="https://www.iconfinder.com/iconsets/49handdrawing">Aleksandra Wolska </a></p>
      <p>Code:<br/>
      <a href="https://developer.paypal.com/">PayPal</a> / 
      <a href="https://typesafe.com/">Typesafe</a> / 
      <a href="https://www.heroku.com/">Heroku</a> / 
      <a href="http://getbootstrap.com/">Bootstrap</a> / <br/>
      <a href="http://jquery.com/">jQuery</a> /  
      <a href="http://aws.amazon.com/s3/">Amazon S3</a> / 
      <a href="http://scrapy.org/">Scrapy</a><br/>
    </div>
  </div>
}