@()(implicit flash : Flash)

@main("Adoptr") {
    <div class="jumbotron">
      <h2 style="margin: 2px; width: 100%; text-align: center;">Would you like to adopt a Cat or a Dog?</h1>
      <div class="row-fluid show-grid">
        <div class="main-col col-lg-6 clearfix col-md-6 col-sm-6 col-xs-6">
          <a href="@routes.Application.search("C")">
            <img src="@routes.Assets.at("images/cat.png")" alt="Show me cats" title="Cats" style="width:80%; position: relative; padding: 0; margin: 10px 10%;"/>
          </a>
        </div>
        <div class="main-col col-lg-6 clearfix col-md-6 col-sm-6 col-xs-6">
          <a href="@routes.Application.search("D")">
            <img src="@routes.Assets.at("images/dog.png")" alt="Show me dogs" title="Dogs" style="width:80%; position: relative; padding: 0; margin: 10px 10%;"/>
          </a>
        </div>
      </div>
    </div>
}