@(pet: Pet)(implicit flash : Flash)

@main("Adoptr") {
  <img src="@pet.image" class="profile-img"/><br/>
  <h1>@pet.name</h1>
  <p>Age: @pet.age</p>
  <p>@pet.profile</p>
  @if(pet.status == "S") {
    <p>@pet.name has already been adopted!</p>
  } else {
    <p onclick="alert('Contact @pet.shelter.name on @pet.shelter.phone');">Adopt @pet.name!</p>
    <p>Can't adopt? Why not feed @pet.name for a week instead? 
    <script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=dave@@caffeinateddave.com"
      data-button="donate"
      data-name="Feed @pet.name for a week"
      data-quantity="1"
      data-amount="10.00"
      data-currency="GBP"
      data-shipping="0"
      data-tax="0"
      data-callback="@routes.Application.profile(pet.id)"
      data-env="sandbox"
      async="async"></script>
    </p>
  }
  <p>Go back to <a href="@routes.Application.index">other pets</a> looking for homes</p> 
}