@(pet: Pet)(implicit flash : Flash)

@main("Adoptr") {
<div class="jumbotron">
  <div class="row-fluid">
    <div class="main-col col-lg-2 clearfix col-md-2 col-sm-2 col-xs-2" style="text-align: center;">
      <a id="nope" href="@routes.Application.vote(pet.id, "N")">
        <img src="@routes.Assets.at("images/cross.png")" style="vertical-align: middle; width:100%;"/>
      </a>
    </div>
    <div id="the-image" class="main-col col-lg-8 clearfix col-md-8 col-sm-8 col-xs-8" style="text-align: center;">
      <div></div>
      <div><img ondragstart="return false" src="@pet.image" style="width: 100%; position: relative;"/></div>
      <div></div>
    </div>
    <div class="main-col col-lg-2 clearfix col-md-2 col-sm-2 col-xs-2" style="text-align: center;">
      <a id="yup" href="@routes.Application.vote(pet.id, "Y")">
        <img src="@routes.Assets.at("images/tick.png")" style="vertical-align: middle; width:100%;"/>
      </a>
    </div>
  </div>
  <div style="text-align: center; clear:both;">
    <h2>@pet.name</h2>
    <a href="@routes.Application.profile(pet.id)" />Profile</a><br/>
    <a href="@routes.Application.review" />Review Matches</a><br/>
    <a href="@routes.Application.search("X")" />Restart</a>
  </div>
</div>
<script>
$(document).ready(function(){
    $('#the-image').fadeTo(0, 0).slick({
      arrows:false,
      infinite:false,
      speed: 200,
      onAfterChange: function(slide, index) {
          if(index === 0) {
              window.location.href = $('#nope').attr('href');
          } else if (index == 2) {
              window.location.href = $('#yup').attr('href');
          }
      }
    }).slickGoTo(1);

    setTimeout(function() {
        console.log('hi');
        $('#the-image').fadeTo(500, 100);
    }, 200);
});
</script>
}